/* You can add global styles to this file, and also import other style files */
[data-amplify-authenticator] {
  min-height: 100vh;
  align-items: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body {
  padding: 24px;
  min-height: 500px;
}
